.bingo {
  display: flex;
}
.bingo > p {
  font-weight: bold;
  margin-bottom: 10px;
}

.cardNum-container {
  display: flex;
}
.cardNum-container > div {
  margin: 0 10px;
}
.cardNum-container > div > p {
  padding: 7px;
  margin: 0 5px;
  line-height: 2;
}
