* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 30px;
  margin: 50px;
}

.container {
  font-size: 1.5rem;
  margin: 50px 20px;
  display: flex;
  text-align: center;
}

button {
  width: 90px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
